tbody tr:nth-child(even) {
    background-color: #e4d6d6;
    transition: all 0.5s;
}

tbody tr:nth-child(odd){
    transition: all 0.5s;
}

tbody tr:nth-child(odd):hover, tbody tr:nth-child(even):hover{
    background-color: #f5efef
}

